<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>


<div class="container">
    <div class="jumbotron">
        <h2>Basic Table</h2>
        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
    </div>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
        <table class="table">
            <thead>
                <tr>
                    <% for(var i=0; i<r.draft_rounds; i++) { %>
                        <th>Round <%= i+1 %></th>
                    <% } %>

                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<r.num_teams; i++) { %>
                    <tr>
                    <% for(var j=0; j<r.draft_rounds; j++) { %>
                            <td><%= j %></td>
                    <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table> 
    <% }); %>
</div>

</body>
</html>
